*{
  margin:0;
  padding:0;
  text-decoration: none;
  border:none;
  outline:none;
}
body{
  font-size:0.28rem;
  /*touch-action: none;*/
}
section> h3{
  font-size: 0.30rem !important;
}
ul,li{
  list-style:none;
}
img{
  width:100%
}
#app{
  margin-bottom:44px
}
.vux-header{
  position:fixed !important;
  width:100%;
  height: 0.95rem;
  padding:0 !important;
  z-index: 999;
  background: #3096fd !important;
}
.vux-header .vux-header-title{
  height:100% !important;
  line-height:0.95rem !important;
  font-size:0.38rem !important;
}
.apply,.manage,.personTask,.template{
  padding-top:1rem !important;
}
.weui-grid:after{
  display:none !important;
}

.weui-cells{
  margin:0 !important;
}
.title:before{
  display:none;
}
.fl{
  float:left;
}
.fr{
  float:right;
}

.weui-skin_android .weui-actionsheet .weui-actionsheet__menu{
  max-height: 360px !important;
  overflow: auto !important;
}
.weui-dialog__title {
  font-weight: 700 !important;
  font-size: 0.32rem !important;
}

.btnWrap{
  position: fixed;
  width: 100%;
  bottom:0px;
  button.weui-btn{
    border-radius:0 !important;
  }
}

.weui-loadmore {
  margin:0 !important;
  width: 100% !important;
  padding:0.32rem auto !important;
}

.vux-slider > .vux-swiper {
  overflow-y: auto !important;
  position: relative;
}
.vux-slider {
  overflow-y: auto !important;
  position: relative;
}
