
.brWrap{
  background: #afd6f3;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 20px;
}

.container{
  padding:22px;
}

.controls{
  position: fixed;
  left: 0;
  top: 0;
  width: 16%;
  padding: 22px;
  box-sizing: border-box;
}
.controls a{
  display:inline-block;
  margin-bottom:12px;
  width:77%;
}
.formBuildWrap{
  width: 64%;
  float: left;
  margin-left: 12%;
}
.formBuildWrap>span{
  padding: 10px;
}
.formAttributeWrap{
  float: right;
  width: 22%;
}
.formAttribute{
  min-height:588px;
  border: 1px solid #ccc;
}
.formBuild{
  width:100%;
  box-sizing: border-box;
  float:right;
  border:1px solid #ccc;
  min-height:588px;
}
.formBuild li{
  display:inline-block;
  margin:10px;
  position:relative;
}
.formBuild li .buttonWrap{
  position: absolute;
  top: -32px;
  right: 0;
  width: 106px;
  height: 66px;
  display: none;
}
.formBuild li .buttonWrap div{
  text-align: center;
  line-height: 22px;
  width: 21px;
  height: 22px;
  background: #62b6f1;
  display: inline-block;
  margin: 5px;
  box-sizing: border-box;
  color: white;
}
.mini-panel-body{
  min-height:534px !important
}

.formBuild li.lineFeed{
  display:inline !important;
}

.controlP{
  background: #afd6f3;
  width: 100px;
  height: 15px;
  display: inline-block;
  border-radius: 20px;


}
