*{
  margin:0;
  padding:0;
  text-decoration: none;
}
body{
  font-size:0.16rem;
}
ul,li{
  list-style:none;
}
img{
  width:100%
}
#app{
  padding-bottom:1.30rem;
}
.vux-header{
  position:fixed !important;
  width:100%;
  height: 0.95rem;
  padding:0 !important;
  z-index: 999;
  background: #3096fd !important;
}
.vux-header .vux-header-title{
  height:100% !important;
  line-height:0.95rem !important;
  font-size:0.38rem !important;
}
.apply,.manage,.personTask,.template{
  padding-top:1rem !important;
}
.weui-grid:after{
  display:none !important;
}

.weui-cells{
  margin:0 !important;
}
.title:before{
  display:none;
}
